/* variables */

:root {
    --color-principal: #3a4e82;
    --color-secundario: #D6CBB7;
    --color-terciario: #fff;
    --color-oscuro: #252525;
    --texto-principal: 'Poppins', sans-serif;
    --texto-secundario: 'Dancing Script', cursive;
    --texto-color-title: #7B5F2E;
    --text-color-principal: #252525;
}
.contenedor {
   
} estilos generales */
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

}

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../img/backg.jpg");
    background-size: cover;
}

header {
    /* width: 100%; */
    height: 40vh;
    background-image: url('../img/encabezado.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    margin-top: 50px;
}

.perfil {
    width: 100%;
    display: flex;  
}

.foto_perfil img{
    width: 110px;
    height: 110px;
    border: 5px solid var(--color-principal);
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    margin-left: 10px;
}

.nombre_puesto {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 10PX;
}

.nombre_puesto h1 {
    color: var(--color-oscuro);
    font-family: var(--texto-principal);
    font-size: 25px;
    text-align: center;
    color: #fff;
}

.nombre_puesto p {
    color: var(--color-oscuro);
    font-family: var(--texto-principal);
    font-size: 14px;
    color: #fff;
    margin-top: -18px;
    margin-right: 10px;
}
.enlaces {
    display: flex;
}
.columna-uno {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
    color:#fff;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    margin-top: 15px;
}
.columna{
    background-color: #000;
    width: 100%;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    font-family: var(--texto-principal);
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 0 12px 12px 0;
}
.columna-right{
    width: 100%;
    height: 30px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    font-family: var(--texto-principal);
    margin-top: 40px;
}
.columna-item {
    width: 30px;
    height: 30px;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: var(--color-principal);
}
 