/* variables */

:root {
    --color-principal: #7B5F2E;
    --color-secundario: #D6CBB7;
    --color-terciario: #fff;
    --color-oscuro: #252525;
    --texto-principal: 'Poppins', sans-serif;
    --texto-secundario: 'Dancing Script', cursive;
    --texto-color-title: #7B5F2E;
    --text-color-principal: #252525;
}

/*
.contenedor {
   
} estilos generales */
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

}

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 40vh;
    background-image: url('../img/encabezado.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    margin-top: 50px;
}

.perfil {
    width: 100%;
    display: flex;  
}

.foto_perfil img{
    width: 110px;
    height: 110px;
    border: 5px solid var(--color-terciario);
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    margin-left: 10px;
}

.nombre_puesto {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 10PX;
}

.nombre_puesto h1 {
    color: var(--color-oscuro);
    font-family: var(--texto-principal);
    font-size: 30px;
    text-align: center;
}

 